.navbar {
    display: flex;
    align-items: center;
    padding: 1em;
    background: #222;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.item {
    margin-right: 1em;
}

.item a {
    text-decoration: none;
    color: #fff;
}

.item a:hover {
    color: #ffbb33;
}